.input{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
}

.input label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.input input{
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 30px 20px;
    outline-color: #6278f7;
    font-size: 16px;
    box-sizing: border-box;
}
