.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes{
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.redes img{
    padding: 0px 15px;
}